/*
Theme Name: _Glare
Theme URI: http://www.cssigniter.com/ignite/themes/glare
Description: Photography Theme for WordPress
Author: the CSSIgniter team
Author URI: http://www.cssigniter.com/
Version: 1.7.3
License: GNU General Public License
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font: inherit;
	font-size: 100%; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; }
body {
	line-height: 1; }
ol, ul {
	list-style: none; }
blockquote, q {
	quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none; }
table {
	border-spacing: 0;
	border-collapse: collapse; }


/* #Basic Styles
================================================== */
body {
	background: #fff;
	color: #444;
	font: 14px/21px Georgia, serif;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
	color: #181818;
	font-weight: normal;
	font-family: 'Prata', serif; margin-bottom:15px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h2 { font-size: 24px; line-height: 34px; }
h2.page-title { margin-bottom:30px; padding:20px; background: #fff; background: rgba(255,255,255,0.5); }
h3 { font-size: 21px; line-height: 31px; }
h4 { font-size: 18px; line-height: 28px; }
h5 { font-size: 17px; line-height: 27px; }
h6 { font-size: 14px; line-height: 24px; }
.subheader { color: #777; }

p { margin: 0 0 30px 0; }
p img { margin: 0; max-width: 100%; height:auto; }
p.lead { color: #777; font-size: 21px; line-height: 27px;  }

em { font-style: italic; }
strong { color: #333; font-weight: bold; }
small { font-size: 80%; }

/*	Blockquotes  */
blockquote, blockquote p { color: #777; font-style: italic; font-size: 17px; line-height: 24px; }
blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
blockquote cite { display: block; color: #555; font-size: 12px; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

/* #Links
================================================== */
a, a:visited { outline: 0; text-decoration: none; transition: all 0.1s linear; }
a:hover, a:focus { color: #000; }
p a, p a:visited { line-height: inherit; }

/* #Lists
================================================== */
ul, ol { margin-bottom: 30px; list-style: outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 20px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 6px; }
li { margin-bottom: 12px; line-height: 18px; }
ul.large li { line-height: 21px; }
li p { line-height: 21px; }

/* #Images
================================================== */
img.scale-with-grid { max-width: 100%; height: auto; }

/* #Tables
================================================== */
.post table { margin-bottom:20px; }
table { width:100%; border:solid 1px #ccc; border-right:none;  }
table caption { font-weight:bold; }
th, td { padding:8px; border-right:solid 1px #ccc; border-bottom:solid 1px #ccc; }
th { font-weight:bold; text-align: center; }
tr:nth-child(odd) td { background: #f0f0f0; }
.sidebar table th, .sidebar table td { padding:5px; }

/* #Forms
================================================== */
input[type=text], input[type=submit], textarea { border:solid 1px #ccc; padding:8px; font-family: inherit; font-size:14px; box-shadow:0 1px 1px rgba(0,0,0,0.05); }
input[type=text]:focus, textarea:focus { border:solid 1px #444; }
input[type=submit] { color:#fff; border:none; cursor: pointer; }

/* #Gravity Forms support
================================================== */
.gform_wrapper ul {list-style:none; margin: 0; padding: 0;}

/* #Misc
================================================== */
.alignleft { margin:5px 15px 10px 0; float:left; }
.alignright { margin:5px 0 10px 15px; float:right; }
.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 10px !important; }
.add-bottom { margin-bottom: 20px !important; }
.transparent { background: #fff; background: rgba(255,255,255,0.5); }
.p3 { padding:3px; }
.brd { background: #fff; background: rgba(255,255,255,0.8); }
#content-wrap { position:relative; z-index:999; height:100%; }
.normal { position:relative; margin-top:232px;  }
.flexslider .slides li { margin-bottom:0 !important; }
#t { position:fixed; top:0; left:0; z-index:1000; width:100%; height:10px; }
#b { position:fixed; bottom:0; left:0; z-index:1000; width:100%; height:10px; }
#l { position:fixed; top:10px; bottom:10px; z-index:1000; width:10px; }
#r { position:fixed; top:10px; right:0; bottom:10px; z-index:1000; width:10px; }

/* #Header
================================================== */
#header { margin-top:30px; }
#header .row { margin-bottom:0; }
#logo { float:left; margin-bottom:0; line-height: 0; }
.textual #logo { margin-top: 31px; font-size: 2em; height: 33px;}
.textual #logo a { whites-space: nowrap; color: white; padding: 14px; height: 40px;}

/* #Footer
================================================== */
#footer-wrap { background: #f1f1f1 url(img/bg_footer.png); padding:50px 0; box-shadow: inset -1px -0 6px rgba(0,0,0,0.2); }
.footer .widget { margin-bottom:0; }
.footer .widget h3 span { background: #f1f1f1 url(img/bg_footer.png); }
.footer .widget p { margin-bottom:10px; }
.footer .widget:nth-child(3n-2) { margin-left: 0; }
.footer .widget:nth-child(3n) { margin-right: 0; }

/* #Navigation
================================================== */
#navigation { float:right; }
.nav { list-style: none; margin-bottom:0; }
.nav > li { position:relative; float:left; margin-bottom:0; }
.nav a { display:block;  margin-left:3px; padding:24px 20px 0 20px; height:40px; background: #fff; color:#333; background: rgba(255,255,255,0.3); font:normal 14px 'Prata', serif; }
.nav a:hover, .nav .active a { background: rgba(255,255,255,0.6); }
.nav ul { position: absolute; top: -999em; z-index: 1000; margin: 0; padding:3px 3px 0 3px; background: rgba(255,255,255,0.5); list-style: none; }
.nav li { position:relative; }
.nav li li { display: block; margin-bottom:0; }
.nav li li a { display: block; margin:0 0 3px 0; padding: 8px 15px; min-width: 180px; height:auto; background-color: #fff; background-color: rgba(255,255,255, 0.3); white-space: nowrap; font-size:12px; }
.nav > li:hover > ul { top: 64px; }
.sf-with-ul { padding-right: 15px; }
#navigation > select { display: none; }
ul.nav li:hover ul, ul.nav li.sfHover ul { left: 0; top: 64px; z-index: 99; }
ul.nav li:hover li ul, ul.nav li.sfHover li ul { top: -999em; }
ul.nav li li:hover ul, ul.nav li li.sfHover ul { left: 213px; top: -1px; }

/* #Supersized Slider
================================================== */
#supersized-loader { position:absolute; top:50%; left:50%; z-index:0; margin:-30px 0 0 -30px; width:60px; height:60px; background:url(img/progress.gif) no-repeat center center; text-indent:-999em;}
#supersized { position:fixed; top:0; left:0; z-index:-999;  display:block; overflow:hidden; width:100%; height:100%; }
#supersized img { position:relative; display:none; width:auto; height:auto; outline:none; border:none; }
#supersized.speed img { -ms-interpolation-mode:nearest-neighbor; image-rendering: -moz-crisp-edges; }	/*Speed*/
#supersized.quality img { -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality; }			/*Quality*/
#supersized li { position:fixed; top:0; left:0; z-index:-30; display:block; overflow:hidden; width:100%; height:100%; background:#111; list-style:none; }
#supersized a { display:block; width:100%; height:100%; }
#supersized li.prevslide { z-index:-20; }
#supersized li.activeslide { z-index:-10; }
#supersized li.image-loading { width:100%; height:100%; background:#111 url(img/progress.gif) no-repeat center center; }
#supersized li.image-loading img{ visibility:hidden; }
#supersized li.prevslide img, #supersized li.activeslide img{ display:inline; }
#controls-wrapper { position:absolute; bottom:0; left:0; z-index:4; margin:0 auto; width:940px; height:30px; background:#fff; background: rgba(255,255,255,0.5); }
.controls-wrapper-more { position:relative !important; margin:20px auto !important; }
#controls { position:relative; z-index:5; overflow:hidden; height:100%; text-align:left; }
.btn-slider { position:relative; display:inline-block; margin-right:3px; width:30px; height:30px; text-indent:-999em; opacity:0.6; cursor: pointer; }
.btn-slider:hover { opacity:1; }
#prevslide { background-image: url(img/sprite.png); background-repeat: no-repeat; }
#nextslide { background-image: url(img/sprite.png); background-position: -30px 0; background-repeat: no-repeat; }
#pauseplay { background-image: url(img/sprite.png); background-position: -90px 0; background-repeat: no-repeat; }
.sz-play { background-image: url(img/sprite.png); background-position: -60px 0 !important; background-repeat: no-repeat;  }
#hide-slider { background-image: url(img/sprite.png); background-position: -120px 0; background-repeat: no-repeat; }
#show-slider { display:none; background-image: url(img/sprite.png); background-position: -150px 0; background-repeat: no-repeat; }
.show { display:inline-block !important; }
#home-set-more { padding-bottom:30px; }

/* #Listing Sets
================================================== */
.set { position:relative; -webkit-transition: -webkit-box-shadow 0.3s; -moz-transition: -moz-box-shadow 0.3s; transition: box-shadow 0.3s; }
.set img { display:block; cursor: pointer;}
.set a.text-link { display:block; margin-bottom:0; padding:8px 0; background: #fff; text-align: center; font-family: 'Prata',serif; }
.set:hover { box-shadow: 0 0 10px rgba(0,0,0,0.5); }
.zoom { position:absolute; display:none; top:0; right:0; bottom:0; left:0;  width: 100%; margin-bottom:0; background: #000; background: rgba(0,0,0,0.5);}
.set:hover .zoom { display:block; }
.zoom a { position:absolute; display:block; top:50%; margin:-15px 0 0 -15px; width:30px; height:30px; background-color: #000; background-color: rgba(0,0,0,0.5); background-image: url(img/sprite.png); background-repeat: no-repeat; text-indent: -999em; }
.zoom a:hover { opacity:0.6; }
.zoom a.view-set { left:50%; margin-left:-31px; background-position: 0 -30px; }
.zoom a.view-article { right:50%; margin-right:-31px; background-position: -30px -30px; }
.sidebar {margin-bottom: 60px; }

/* #Content Specific
================================================== */
#related-items { margin:50px 0; clear:both; }
#related-items .set { box-shadow: 0 0 5px rgba(0,0,0,0.1); }
#related-items article > a { display:block; text-align:center; padding:10px 0; }
.content { margin-bottom:40px; background: #fff; }
.meta { font-size:11px; text-transform: uppercase; }
.meta span { display:inline-block; margin:0 10px; color:#ccc; }
.listing { margin-bottom: 35px; padding-bottom:20px; background: url(img/bg_sidebar.png) repeat-x bottom; }
.featured-image { margin-bottom:20px; }
#map { height:400px; margin-bottom:30px; }
#page-header { display: block; height: 400px; position: relative; top: 0; }
.container.wrap { margin-top: -400px; }
.container.homepage { margin-top: 0; }
.content ul { margin-left: 20px; }

/* Blog Styles
================================================== */
.paging { margin:35px 0; text-align: center; line-height: 1; }
.content .paging { margin-bottom:0; }
.paging a, .paging > span { display:inline-block; background: #f1f1f1; padding:9px 12px !important; margin-right:3px !important; border-radius:1px; font-size:11px !important;; font-weight:bold; border:none !important;}
.paging a:hover { background: #dcdcdc; }
.paging span.current { color:#fff; }

/* Gallery Styles
================================================== */
.col-listing { margin-top:40px; }
.col-listing .set { margin-bottom:20px; box-shadow: 0 0 5px rgba(0,0,0,0.1); }
.col-listing .paging { padding:25px 0 10px 0; clear:both; }
.col-filtered { overflow: hidden; }
.col-filtered .set { margin:0 0 20px 0; }
.set-content #related-items { margin-top:0; }
.set-content #related-items article { margin-bottom:20px; }
.photo-set { margin-bottom:20px; }
.photo-set li { margin-bottom:15px !important; }
.photo-set img { display:block; }
.gallery .zoom { display: block; position: static; line-height: 0; height: auto; }
.tax-gallery-category .set { margin-bottom: 20px; }
.gallery { margin-bottom: 20px;	overflow: hidden; }
.gallery-item { float: left; margin: 0 4px 0 0;	overflow: hidden; position: relative; }
.gallery-columns-1 .gallery-item { max-width: 100%; }
.gallery-columns-2 .gallery-item { max-width: 48%; max-width: -webkit-calc(50% - 4px); max-width: calc(50% - 4px); }
.gallery-columns-3 .gallery-item { max-width: 32%; max-width: -webkit-calc(33.3% - 4px); max-width: calc(33.3% - 4px); }
.gallery-columns-4 .gallery-item { max-width: 23%; max-width: -webkit-calc(25% - 4px); max-width: calc(25% - 4px); }
.gallery-columns-5 .gallery-item { max-width: 19%; max-width: -webkit-calc(20% - 4px); max-width: calc(20% - 4px); }
.gallery-columns-6 .gallery-item { max-width: 15%; max-width: -webkit-calc(16.7% - 4px); max-width: calc(16.7% - 4px); }
.gallery-columns-7 .gallery-item { max-width: 13%; max-width: -webkit-calc(14.28% - 4px); max-width: calc(14.28% - 4px); }
.gallery-columns-8 .gallery-item { max-width: 11%; max-width: -webkit-calc(12.5% - 4px); max-width: calc(12.5% - 4px); }
.gallery-columns-9 .gallery-item { max-width: 9%; max-width: -webkit-calc(11.1% - 4px); max-width: calc(11.1% - 4px); }
.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}
.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
	clear: left;
}
.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	color: #fff;
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 6px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	width: 100%;
}
.gallery-caption:before {
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.gallery-item:hover .gallery-caption {
	opacity: 1;
}
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

/* Responsive Video Embeds */
.embed-youtube, .video-hold { position: relative; padding-bottom: 56.25%; /* 16:9 */	padding-top: 25px; height: 0;	margin-bottom: 30px; }
.embed-youtube iframe, .video-hold iframe { position: absolute; top: 0; left: 0;	width: 100%;height: 100%; }

/* Comments Styles */
.post-comments {margin-top: 30px;}
.post-comments ol, .post-comments ul { list-style: none; font-size:inherit;  }
.post-comments > ol { margin-left:0; margin-bottom:0; }
.post-comments li { margin:0 !important; padding:0 !important; background: none !important; position:relative; }
.post-comments .avatar { position:absolute; top:8px; left:0; margin: 0 15px 5px 0;  text-align: center; padding:3px; border:solid 1px #ccc; }
.post-comments .comment-text { margin-bottom:10px; border-bottom: 1px solid #DCDCDC; margin-bottom:30px; }
.post-comments > .comment-text:last-child { margin-bottom:0; }
.post-comments .comment-copy { margin-left:70px; font-size: 13px; }
.post-comments .comment-copy p { margin-bottom:10px; }
.post-comments .comment-meta { font-weight: bold; margin-bottom:5px !important; }
.comment-reply-link, .btn-reply { font-style: normal; float: right; font-size: 10px; text-transform: uppercase; color: #fff; padding: 3px 7px 0;  }
.btn-reply, .comment-reply-link { position:relative; top:1px; }
.comment-reply-link:hover, .btn-reply:hover { color:#fff; }
#cancel-comment-reply-link {display:block;}

/* Comment Form
================================================== */
.post-form label { display:block; padding-bottom:5px; }
.post-form input[type=text] { width:80%; }
.post-form textarea { width:90%; height:200px; }
.post-form p { margin-bottom:15px; }
#post-action { margin-bottom:0; }
.post-form .gfield_checkbox label {display: inline;}

/* Widgets
================================================== */
.widget { margin-bottom:40px; }
.widget:last-child { margin-bottom:0; }
.widget h3, .widget-title { color:#444; font-size:18px; background: url(img/bg_sidebar.png) repeat-x 0 11px; }
.widget h3 span, .widget-title span{ display:inline-block; padding:0 10px 0 0; background: #fff; }
.widget > *:last-child { margin-bottom:0; }

/* Flickr Widget */
.flickr_badge_image { float: left; margin: 0 19px 19px 0; padding: 5px; border: solid 1px #dcdcdc; }
.flickr_badge_image:nth-child(3n+1) { margin-right: 0 }
.flickr_badge_image img { display: block; }

/* Calendar Widget */
.widget_calendar #wp-calendar { width: 95%; text-align: center; }
.widget_calendar #wp-calendar caption,
.widget_calendar #wp-calendar td,
.widget_calendar #wp-calendar th { text-align: center }
.widget_calendar #wp-calendar caption { font-size: 11px; padding: 5px 0 3px; text-transform: uppercase; }
.widget_calendar #wp-calendar th { font-weight: bold }

/* 125x125 ads widget */
#ads125 li, .ads125 li { float:left; width:133px; margin:0 23px 13px 0; background: none; border:0; padding:0; }
#ads125 li.last, .ads125 li.last { margin-right:0; }
#ads125 li img, .ads125 li img { display:block; padding: 8px; border:solid 1px #ccc; }
#ads125 li:nth-last-of-type(-n+2), .ads125 li:nth-last-of-type(-n+2) { margin-bottom:0; }

/* Search Widget */
#searchform input[type=text] { width: 278px; padding: 8px; height:18px; border:solid 1px #ccc; font-family: inherit; font-size:12px; }
#searchform { position: relative; line-height: 0; }
#searchform label { display:none; }
#searchform #searchsubmit { color:#fff; border:none; position: absolute; right: 0; top: 0; width: 70px; height: 36px; font-weight: bold; font-size:11px; font-family: inherit; cursor: pointer; }
#searchform > div { margin: 0; padding: 0; line-height: 0; }
#searchsubmit:active { top: 1px }

/* List Widgets */
.widget ul { list-style: none; margin: 0; padding: 0; }
.widget ul li { margin-bottom:0; padding: 8px 0 6px 20px; background: url(img/sprite.png) no-repeat -10px -58px; border-bottom: 1px dotted #dcdcdc; }

/* Twitter on sidebar */
.widget .twitter-time { display: block; font-size: 0.8em; font-weight: bold; }

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	#controls-wrapper { width:768px; }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#controls-wrapper { width:748px; }
	#home-set { bottom: 80px !important; }
	.zoom { height:172px; }
	.widget_ci_ads125_widget { display:none; }
	.flickr_badge_image { padding:0; border:none; margin:0 3px 3px 0; }
	.flickr_badge_image:nth-child(3n+1) { margin-right:0; }
	#searchform input[type=text] { width: 208px !important; }
	#navigation .nav { display:none; }
	#navigation select { display:block; width:500px; position:relative; top:23px; right:15px; }
	.gallery-item { margin: 2px; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	#home-set { position:static !important; }
	#searchform input[type=text] { width: 400px; }
	.alignleft, .alignright { float:none; margin:0; display:block; margin-bottom:20px; }
	.page-title { text-align: center; }
	.post h2 { padding:20px; text-align: center; margin-bottom:0; }
	.meta { text-align: center; padding:0 10px; }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#controls-wrapper { position:static !important; padding:10px 0; width:420px; }
	#controls { text-align: center; }
	#header #logo { padding-top:10px; width:420px; text-align: center;}
	#header .textual #logo {height: 40px;}
	#navigation { float:none; margin:10px 0 0 0; }
	.inner #navigation { margin-bottom:10px; }
	#navigation .nav { display:none; }
	#navigation select { display:block; margin:0 auto; width:95%; }
	#home-set { margin-top:10px; }
	#home-set .set { margin-bottom:10px; }
	#home-set .set:last-child { margin-bottom:20px; }
	.zoom { height:420px; }
	.inner .normal { top:195px; }
	.sidebar, .col-listing { padding-bottom:232px; }
	.fullwidth { margin-bottom:232px !important; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#controls-wrapper { position:static !important; padding:10px 0; width:300px; }
	#controls { text-align: center; }
	#header #logo { padding-top:10px; width:300px; text-align: center;}
	#navigation { float:none; margin:10px 0 0 0; }
	.inner #navigation { margin-bottom:10px; }
	#navigation .nav { display:none; }
	#navigation select { display:block; margin:0 auto; width:95%; }
	#home-set { margin-top:10px; }
	#home-set .set { margin-bottom:10px; }
	#home-set .set:last-child { margin-bottom:20px; }
	.zoom { height:300px; }
	.inner .normal { top:200px; }
	#searchform input[type=text] { width: 270px; }
	.post-comments .avatar { display:none; }
	.post-comments ul, .post-comments .comment-copy { margin-left:0; }
	.sidebar, .col-listing { padding-bottom:232px; }
	.fullwidth { margin-bottom:232px !important; }
}