.group:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

/* Tooltips */
.ci-tooltip-content {
  padding: 6px 10px;
  max-width: 200px;
  color: #f8f8f8;
  background-color: #111;
  border: 1px solid #000;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 0 4px #555;
  -moz-box-shadow: 0 0 4px #555;
  -webkit-box-shadow: 0 0 4px #555;
}

.ci-tooltip {
  cursor:pointer;
  margin-top: 10px;
}

/* Buttons */

.ci-button {
  background: url("../images/buttons.png") no-repeat scroll right -27px transparent;
  display: inline-block;
  height: 27px;
  margin: 10px 10px 0 0;
  padding: 0 16px 0 0;
  color:#777;
  text-shadow:0 1px 0 white;
  border:none !important;
}

.ci-button:hover {
  text-decoration:none;
  border:none !important;
}

.ci-button:active {
  position: relative;
  top: 1px;
}

.ci-button span b {
  font-weight:normal;
}

.ci-button span {
  background: url("../images/buttons.png") no-repeat scroll 0 -1px transparent;
  display: block;
  height: 27px;
  line-height: 2.1;
  padding: 0 0 0 16px;
  cursor:pointer;
}

.ci-button.red {
  background-position: right -140px ;
  color:white;
  text-shadow:none;
}

.ci-button.red span {
  background-position: 0 -114px;
}


.ci-button.green {
  background-position: right -197px;
  color:white;
  text-shadow:none;
}

.ci-button.green span {
  background-position: 0 -171px;
}

.ci-button.blue {
  background-position: right -84px;
  color:white;
  text-shadow:none;
}

.ci-button.blue span {
  background-position: 0 -58px;
}

.ci-button.black {
  background-position: right -254px;
  color:white;
  text-shadow:none;
}

.ci-button.black span {
  background-position: 0 -228px;
}

.ci-button.yellow {
  background-position: right -311px;
}

.ci-button.yellow span {
  background-position: 0 -285px;
}

.ci-button.purple {
  background-position: right -367px;
  color:white;
  text-shadow:none;
}

.ci-button.purple span {
  background-position: 0 -341px;
}

/* Buttons with Icons */
.ci-button.contact span,
.ci-button.cancel span,
.ci-button.check span,
.ci-button.cart span,
.ci-button.download span {
  padding-left: 8px;
}

.ci-button.envelope span b {
  padding-left: 20px;
  background: url(../images/btn-icons.png) no-repeat -2px -18px;
}

.ci-button.cancel span b {
  padding-left: 20px;
  background: url(../images/btn-icons.png) no-repeat -3px -76px;
}

.ci-button.check span b {
  padding-left: 20px;
  background: url(../images/btn-icons.png) no-repeat -4px -55px;
}

.ci-button.cart span b {
  padding-left: 20px;
  background: url(../images/btn-icons.png) no-repeat -1px 1px;
}

.ci-button.download span b {
  padding-left: 20px;
  background: url(../images/btn-icons.png) no-repeat -3px -38px;
}


/* Separators */
.ci-separator {
  width: 100%;
  margin: 10px 0;
  clear:both;
}

.ci-separator.normal {
  height: 1px;
  background: #CCC;
}

.ci-separator.double {
  border-top: 4px double #CCC;
  height: 4px;
}

.ci-separator.lightning {
  background: url(../images/lightning.png) no-repeat 50% 50%;
  height: 32px;
}

/* Columns */

.ci-column {
  float:left;
  margin-right:3%;
  margin-bottom:20px;
}

.one_half {
  width:48%;
}

.one_third {
  width:31%;
}

.two_thirds {
  width:62%;
}

.ci-column.last {
  margin-right:0;
}

.clear {
  clear:both;
}

/* Boxes */
.ci-box {
  margin:20px 0;
  width:100%;
  font-size:1.1em;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -o-webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #333;
  -moz-box-shadow:1px 1px 1px white inset;
  -webkit-box-shadow:1px 1px 1px white inset;
  -o-box-shadow:1px 1px 1px white inset;
  box-shadow:1px 1px 1px white inset;
}

.ci-box-content {
  padding:12px;
  text-shadow:0px 1px 0 white;
  float:left;
  width: 84%;
}

.ci-box span.icon {
  float:left;
  width:16px;
  height:16px;
  background:url(../images/icons.png) no-repeat center center;
  margin:13px 10px 10px 10px;
}

.ci-box.warning {
  background:#ffffe1;
  color:#765e18;
  border-color:#f8dba8;
}

.ci-box.warning > span {
  background-position: 0 -20px;
}

.ci-box.error {
  color:#ba3549;
  background:#ffe1e1;
  border-color:#ffc7c7;
}

.ci-box.error > span {
  background-position: 0 0;
}

.ci-box.download {
  color:#313b43;
  background:#d2dce3;
  border-color:#a5b9c8;
}

.ci-box.download > span {
  background-position: 0 -76px;
}

.ci-box.normal {
  background:#FAF8F6;
  color:#333;
  border-color:#f0eeeb;
}

.ci-box.normal > span {
  width:0;
  height:0;
}

.ci-box.success {
  color:#4c7c21;
  background:#ecffe1;
  border-color:#c4f8a8;
}

.ci-box.success > span {
  background-position: 0 -58px;
}

.ci-box.info {
  background-color:#d1e8f7;
  border-color:#96c9ea;
}

.ci-box.info > span {
  background-position: 0 -39px;
}

/* Lists */
.ci-list ul {
  margin: 10px 0 10px 15px;
}

.ci-list ul li {
  margin: 3px 0;
}

.ci-list-check ul {
  margin-left: 0;
}

.ci-list-check ul li, .ci-list-check ul li ul li {
  list-style-type: none;
  background: url("../images/check.png") no-repeat scroll transparent;
  padding-left: 20px;
}

.ci-list-cross ul {
  margin-left: 0;
}

.ci-list-cross ul li, .ci-list-cross ul li ul li {
  list-style-type: none;
  background: url("../images/cross.png") no-repeat scroll 0 4px transparent;
  padding-left: 16px;
}


/* Shortcodes Behaving in each other */
.ci-box-content a.ci-button {
  margin: 0;
}


/* Special Quotes */
.ci-blockquote {
  width:40%;
  padding:15px 20px 20px !important;
  background:#f3f3f3 !important;
}

.ci-blockquote-content > span {
  font-size:1.2em;
  display:block;
  background:url("../images/bg_hdr.png") repeat-x scroll center bottom transparent;
  padding-bottom:10px;
  margin-bottom:5px;
}

.ci-alignright {
  float: right;
  margin: 10px 0 10px 20px;
}

.ci-alignleft {
  float: left;
  margin: 10px 20px 10px 0;
}
