/* #Black
================================================== */

a, a:visited,
.paging {
	color: #292929;
}

input[type=submit],
.textual #logo a,
.paging span.current,
.comment-reply-link, .btn-reply,
#searchform #searchsubmit,
.zoom a:hover  {
	background-color: #292929;
}

.textual #logo a {
	background: rgba(22,22,22,0.74);
}

.btn-slider {
	background: #000000;
}