/* #Purple
================================================== */

a, a:visited,
.paging {
	color: #b135da;
}

input[type=submit],
.textual #logo a,
.paging span.current,
.comment-reply-link, .btn-reply,
#searchform #searchsubmit,
.zoom a:hover  {
	background-color: #b135da;
}

.textual #logo a {
	background: rgba(196,56,207,0.74);
}

.btn-slider {
	background: #c400ff;
}