/* #Red
================================================== */

a, a:visited,
.paging {
	color: #dc2a36;
}

input[type=submit],
.textual #logo a,
.paging span.current,
.comment-reply-link, .btn-reply,
#searchform #searchsubmit,
.zoom a:hover  {
	background-color: #dc2a36;
}

.textual #logo a {
	background: rgba(220,42,54,0.74);
}

.btn-slider {
	background: #ff0000;
}