.group:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

/* Tooltips */
.ci-tooltip-content {
  padding: 6px 10px;
  max-width: 200px;
  color: #f8f8f8;
  background-color: #111;
  border: 1px solid #000;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 0 4px #555;
  -moz-box-shadow: 0 0 4px #555;
  -webkit-box-shadow: 0 0 4px #555;
}

.ci-tooltip {
  cursor:pointer;
  margin-top: 10px;
}

/* Buttons */
.ci-button, .ci-button:visited {
  display: inline-block;
  color: #666;
  font-weight: normal !important;
  font-style: normal !important;
  text-decoration: none !important;
  line-height: 1 !important;
  margin: 5px;
  padding: 9px 25px 9px;
  font-size: 13px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
  border: 1px solid #ccc !important;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
  -webkit-transition: text-shadow 0.2s linear;
  -moz-transition: text-shadow 0.2s linear;
  -o-transition: text-shadow 0.2s linear;
   transition: text-shadow 0.2s linear;
}

.ci-button:focus, .ci-button:active {
  position: relative;
  top: 1px;
}

.ci-button:hover {
  text-decoration: none !important;
  border: 1px solid #ccc;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25), 0 0 4px rgba(255,255,255,0.4);
}

.ci-button b {
  font-weight: normal;
}

.ci-button.grey {
  background-color: #D6D6D6;
  background-image: linear-gradient(bottom, rgb(214,214,214) 27%, rgb(214,214,214) 64%, rgb(237,237,237) 82%);
  background-image: -o-linear-gradient(bottom, rgb(214,214,214) 27%, rgb(214,214,214) 64%, rgb(237,237,237) 82%);
  background-image: -moz-linear-gradient(bottom, rgb(214,214,214) 27%, rgb(214,214,214) 64%, rgb(237,237,237) 82%);
  background-image: -webkit-linear-gradient(bottom, rgb(214,214,214) 27%, rgb(214,214,214) 64%, rgb(237,237,237) 82%);
  background-image: -ms-linear-gradient(bottom, rgb(214,214,214) 27%, rgb(214,214,214) 64%, rgb(237,237,237) 82%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.27, rgb(214,214,214)),
  	color-stop(0.64, rgb(214,214,214)),
  	color-stop(0.82, rgb(237,237,237))
  );
  border:1px solid #ccc !important;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.4) inset;
  -moz-box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.4) inset;
  -webkit-box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.4) inset;
}

.ci-button.white {
  background-color: #f8f8f8;
  background-image: linear-gradient(bottom, rgb(240,240,240) 28%, rgb(255,255,255) 64%);
  background-image: -o-linear-gradient(bottom, rgb(240,240,240) 28%, rgb(255,255,255) 64%);
  background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 28%, rgb(255,255,255) 64%);
  background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 28%, rgb(255,255,255) 64%);
  background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 28%, rgb(255,255,255) 64%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.28, rgb(240,240,240)),
  	color-stop(0.64, rgb(255,255,255))
  );
  border:1px solid #ccc !important;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.4) inset;
  -moz-box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.4) inset;
  -webkit-box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.4) inset;
}

.ci-button.red {
  background-color: #CE452C;
  background-image: linear-gradient(bottom, rgb(187,55,30) 27%, rgb(225,83,57) 64%, rgb(255,117,86) 82%);
  background-image: -o-linear-gradient(bottom, rgb(187,55,30) 27%, rgb(225,83,57) 64%, rgb(255,117,86) 82%);
  background-image: -moz-linear-gradient(bottom, rgb(187,55,30) 27%, rgb(225,83,57) 64%, rgb(255,117,86) 82%);
  background-image: -webkit-linear-gradient(bottom, rgb(187,55,30) 27%, rgb(225,83,57) 64%, rgb(255,117,86) 82%);
  background-image: -ms-linear-gradient(bottom, rgb(187,55,30) 27%, rgb(225,83,57) 64%, rgb(255,117,86) 82%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.27, rgb(187,55,30)),
  	color-stop(0.64, rgb(225,83,57)),
  	color-stop(0.82, rgb(255,117,86))
  );
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
  border:1px solid red !important;
  box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.4) inset;
  -moz-box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.4) inset;
  -webkit-box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.4) inset;
}

.ci-button.blue {
  background-color: #2989E3;
  background-image: linear-gradient(bottom, rgb(37,133,207) 27%, rgb(43,154,214) 64%, rgb(41,133,230) 82%);
  background-image: -o-linear-gradient(bottom, rgb(37,133,207) 27%, rgb(43,154,214) 64%, rgb(41,133,230) 82%);
  background-image: -moz-linear-gradient(bottom, rgb(37,133,207) 27%, rgb(43,154,214) 64%, rgb(41,133,230) 82%);
  background-image: -webkit-linear-gradient(bottom, rgb(37,133,207) 27%, rgb(43,154,214) 64%, rgb(41,133,230) 82%);
  background-image: -ms-linear-gradient(bottom, rgb(37,133,207) 27%, rgb(43,154,214) 64%, rgb(41,133,230) 82%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.27, rgb(37,133,207)),
  	color-stop(0.64, rgb(43,154,214)),
  	color-stop(0.82, rgb(41,133,230))
  );
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
  border:1px solid #17658f !important;
  box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.4) inset;
  -moz-box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.4) inset;
  -webkit-box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.4) inset;
}

.ci-button.yellow {
  background-color: #E5F019;
  background-image: linear-gradient(bottom, rgb(229,240,19) 27%, rgb(210,222,49) 64%, rgb(234,245,19) 82%);
  background-image: -o-linear-gradient(bottom, rgb(229,240,19) 27%, rgb(210,222,49) 64%, rgb(234,245,19) 82%);
  background-image: -moz-linear-gradient(bottom, rgb(229,240,19) 27%, rgb(210,222,49) 64%, rgb(234,245,19) 82%);
  background-image: -webkit-linear-gradient(bottom, rgb(229,240,19) 27%, rgb(210,222,49) 64%, rgb(234,245,19) 82%);
  background-image: -ms-linear-gradient(bottom, rgb(229,240,19) 27%, rgb(210,222,49) 64%, rgb(234,245,19) 82%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.27, rgb(229,240,19)),
  	color-stop(0.64, rgb(210,222,49)),
  	color-stop(0.82, rgb(234,245,19))
  );
  color: #444;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
  border:1px solid #D0CD1F !important;
  box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.4) inset;
  -moz-box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.4) inset;
  -webkit-box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.4) inset;
}

.ci-button.black {
  background-color: #999;
  background-image: linear-gradient(bottom, rgb(26,26,26) 27%, rgb(51,51,51) 64%, rgb(61,61,61) 82%);
  background-image: -o-linear-gradient(bottom, rgb(26,26,26) 27%, rgb(51,51,51) 64%, rgb(61,61,61) 82%);
  background-image: -moz-linear-gradient(bottom, rgb(26,26,26) 27%, rgb(51,51,51) 64%, rgb(61,61,61) 82%);
  background-image: -webkit-linear-gradient(bottom, rgb(26,26,26) 27%, rgb(51,51,51) 64%, rgb(61,61,61) 82%);
  background-image: -ms-linear-gradient(bottom, rgb(26,26,26) 27%, rgb(51,51,51) 64%, rgb(61,61,61) 82%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.27, rgb(26,26,26)),
  	color-stop(0.64, rgb(51,51,51)),
  	color-stop(0.82, rgb(61,61,61))
  );
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
  border:1px solid #000 !important;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.2) inset;
}

.ci-button.purple {
  background-color: #d92bc5;
  background-image: linear-gradient(bottom, rgb(181,41,194) 27%, rgb(217,43,197) 64%, rgb(203,43,217) 82%);
  background-image: -o-linear-gradient(bottom, rgb(181,41,194) 27%, rgb(217,43,197) 64%, rgb(203,43,217) 82%);
  background-image: -moz-linear-gradient(bottom, rgb(181,41,194) 27%, rgb(217,43,197) 64%, rgb(203,43,217) 82%);
  background-image: -webkit-linear-gradient(bottom, rgb(181,41,194) 27%, rgb(217,43,197) 64%, rgb(203,43,217) 82%);
  background-image: -ms-linear-gradient(bottom, rgb(181,41,194) 27%, rgb(217,43,197) 64%, rgb(203,43,217) 82%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.27, rgb(181,41,194)),
  	color-stop(0.64, rgb(217,43,197)),
  	color-stop(0.82, rgb(203,43,217))
  );
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
  border:1px solid #d92bc5 !important;
  box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.4) inset;
  -moz-box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.4) inset;
  -webkit-box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.4) inset;
}

.ci-button.green {
  background-color: #169927;
  background-image: linear-gradient(bottom, rgb(29,194,51) 27%, rgb(37,207,60) 64%, rgb(31,194,53) 82%);
  background-image: -o-linear-gradient(bottom, rgb(29,194,51) 27%, rgb(37,207,60) 64%, rgb(31,194,53) 82%);
  background-image: -moz-linear-gradient(bottom, rgb(29,194,51) 27%, rgb(37,207,60) 64%, rgb(31,194,53) 82%);
  background-image: -webkit-linear-gradient(bottom, rgb(29,194,51) 27%, rgb(37,207,60) 64%, rgb(31,194,53) 82%);
  background-image: -ms-linear-gradient(bottom, rgb(29,194,51) 27%, rgb(37,207,60) 64%, rgb(31,194,53) 82%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.27, rgb(29,194,51)),
  	color-stop(0.64, rgb(37,207,60)),
  	color-stop(0.82, rgb(31,194,53))
  );
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
  border:1px solid #169927 !important;
  box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.4) inset;
  -moz-box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.4) inset;
  -webkit-box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.4) inset;
}

.ci-button.cancel,
.ci-button.check,
.ci-button.download,
.ci-button.envelope,
.ci-button.cart {
  padding-left: 15px !important;
}

.ci-button.cancel span,
.ci-button.check span,
.ci-button.download span,
.ci-button.envelope span,
.ci-button.cart span {
  padding-left: 20px;
  background: url(../images/btn-icons.png) no-repeat;
}

.ci-button.cancel span {
  background-position: -3px -75px;
}

.ci-button.check span {
  background-position: -4px -55px;
}

.ci-button.download span {
  background-position: -3px -37px;
}

.ci-button.envelope span {
  background-position: -2px -17px;
}

.ci-button.cart span {
  background-position: -2px 1px;
}

/* Separators */
.ci-separator {
  width: 100%;
  margin: 10px 0;
  clear:both;
}

.ci-separator.normal {
  height: 1px;
  background: #CCC;
}

.ci-separator.double {
  border-top: 4px double #CCC;
  height: 4px;
}

.ci-separator.lightning {
  background: url(../images/lightning.png) no-repeat 50% 50%;
  height: 32px;
}

/* Columns */

.ci-column {
  float:left;
  margin-right:3%;
  margin-bottom:20px;
}

.one_half, .ci-one_half {
  width:48%;
}

.one_third, .ci-one_third {
  width:31%;
}

.two_thirds, .ci-two_thirds {
  width:62%;
}

.ci-column.last {
  margin-right:0;
}

.clear {
  clear:both;
}

/* Boxes */
.ci-box {
  margin:20px 0;
  width:100%;
  font-size:1.1em;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -o-webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #333;
  -moz-box-shadow:1px 1px 1px white inset;
  -webkit-box-shadow:1px 1px 1px white inset;
  -o-box-shadow:1px 1px 1px white inset;
  box-shadow:1px 1px 1px white inset;
}

.ci-box-content {
  padding:12px;
  text-shadow:0px 1px 0 white;
  float:left;
  line-height: 1;
  width: 84%;
}

.ci-box span.icon {
  float:left;
  width:16px;
  height:16px;
  background:url(../images/icons.png) no-repeat center center;
  margin:13px 10px 10px 10px;
}

.ci-box.warning {
  background:#ffffe1;
  color:#765e18;
  border-color:#f8dba8;
}

.ci-box.warning > span {
  background-position: 0 -20px;
}

.ci-box.error {
  color:#ba3549;
  background:#ffe1e1;
  border-color:#ffc7c7;
}

.ci-box.error > span {
  background-position: 0 0;
}

.ci-box.download {
  color:#313b43;
  background:#d2dce3;
  border-color:#a5b9c8;
}

.ci-box.download > span {
  background-position: 0 -76px;
}

.ci-box.normal {
  background:#FAF8F6;
  color:#333;
  border-color:#f0eeeb;
}

.ci-box.normal > span {
  width:0;
  height:0;
}

.ci-box.success {
  color:#4c7c21;
  background:#ecffe1;
  border-color:#c4f8a8;
}

.ci-box.success > span {
  background-position: 0 -58px;
}

.ci-box.info {
  background-color:#d1e8f7;
  border-color:#96c9ea;
}

.ci-box.info > span {
  background-position: 0 -39px;
}

/* Lists */
.ci-list ul {
  margin: 10px 0 10px 15px;
  padding: 0;
  line-height: 1;
}

.ci-list ul li {
  margin: 3px 0;
}

.ci-list-check ul {
  margin-left: 0;
}

.ci-list-check ul li, .ci-list-check ul li ul li {
  list-style-type: none;
  background: url("../images/check.png") no-repeat scroll transparent;
  padding-left: 20px;
}

.ci-list-cross ul {
  margin-left: 0;
}

.ci-list-cross ul li, .ci-list-cross ul li ul li {
  list-style-type: none;
  background: url("../images/cross.png") no-repeat scroll 0 4px transparent;
  padding-left: 16px;
}


/* Shortcodes Behaving in each other */
.ci-box-content a.ci-button {
  margin: 0;
}


/* Special Quotes */
.ci-blockquote {
  width:40%;
  padding:15px 20px 20px !important;
  background:#f3f3f3 !important;
  color: #333 !important;
}

.ci-blockquote-content > span {
  font-size:1.2em;
  display:block;
  background:url("../images/bg_hdr.png") repeat-x scroll center bottom transparent;
  padding-bottom:10px;
  margin-bottom:5px;
  color: #333 !important;
}

.ci-alignright {
  float: right;
  margin: 10px 0 10px 20px;
}

.ci-alignleft {
  float: left;
  margin: 10px 20px 10px 0;
}
