/* #Blue
================================================== */

a, a:visited,
.paging {
	color: #5572f0;
}

input[type=submit],
.textual #logo a,
.paging span.current,
.comment-reply-link, .btn-reply,
#searchform #searchsubmit,
.zoom a:hover  {
	background-color: #5572f0;
}

.textual #logo a {
	background: rgba(55,104,207,0.74);
}

.btn-slider {
	background: #0041ff;
}