/* #Default Color -- Orange
================================================== */

a, a:visited,
.paging {
	color: #dc5d2a;
}

input[type=submit],
.textual #logo a,
.paging span.current,
.comment-reply-link, .btn-reply,
#searchform #searchsubmit,
.zoom a:hover {
	background-color: #dc5d2a;
}

.textual #logo a {
	background: rgba(220, 93, 42, 0.74);
}

.btn-slider {
	background: #ff4900;
}