<style>
	.pricing-heading {
		font-style: italic;
		font-weight: bold;
	}
	.text-center 	{text-align: center;}
	.text-left 	{text-align: left;}	
</style>



<h2>Hair</h2>
<table>
	<tr>
		<th colspan="4" class="text-left">STYLING</th>
	</tr>
	<tr class="pricing-heading">
		<td>Women</td>
		<td></td>
		<td>Men</td>
		<td></td>
	</tr>
	<tr>
		<td>Wash &amp; cut</td>
		<td>&pound;20</td>
		<td>Wash &amp; cut</td>
		<td>&pound;15</td>
	</tr>
	<tr>
		<td>Wash, cut &amp; blow dry </td>
		<td>&pound;35</td>
		<td>Clipper cut</td>
		<td>&pound;10</td>
	</tr>
	<tr>
		<td>Fringe cut</td>
		<td>&pound;5</td>
		<td>Dry cut</td>
		<td>&pound;10</td>
	</tr>
	<tr>
		<td>Blow dry (short)</td>
		<td>&pound;15</td>
		<td class="pricing-heading">Children</td>
		<td></td>
	</tr>
	<tr>
		<td>Blow dry (medium)</td>
		<td>&pound;18</td>
		<td>Wash &amp; cut</td>
		<td>&pound;10</td>
	</tr>
	<tr>
		<td>Blow dry (long)</td>
		<td>&pound;22-25</td>
		<td>Wash, cut &amp; blow dry</td>
		<td>&pound;20</td>
	</tr>
	<tr>
		<td>Straightening</td>
		<td>&pound;10</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Tongs</td>
		<td>&pound;15</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Hair Up</td>
		<td>&pound;20-&pound;35</td>
		<td></td>
		<td></td>
	</tr>
</table>

<br>

<h2>Colouring</h2>
<table>
	<tr>
		<th colspan="2" class="pricing-heading text-left">Permanent &amp; Semi-Permanent</th>
	</tr>
	<tr>
		<td>Regrowth root tint</td>
		<td>&pound;25</td>
	</tr>
	<tr>
		<td>Full head tint</td>
		<td>&pound;40</td>
	</tr>
	<tr>
		<td>Toner</td>
		<td>&pound;15</td>
	</tr>
	<tr>
		<td>Balayage/Ombre/Dip dye</td>
		<td>By consultation</td>
	</tr>
	<tr>
		<td>Colour correction</td>
		<td>By consultation</td>
	</tr>
	<tr>
		<th colspan="2" class="pricing-heading text-left">Highlights</th>
	</tr>
	<tr>
		<td>T-Section</td>
		<td>&pound;30</td>
	</tr>
	<tr>
		<td>Half head</td>
		<td>&pound;45-&pound;55</td>
	</tr>
	<tr>
		<td>Full head</td>
		<td>&pound;60-&pound;75</td>
	</tr>
</table>

<br>

<h4 class="pricing-heading text-center">Please book a consultation plus skin sensitivity test 48 hours prior to your appointment</h4>
<h2>Treatments</h2>
<table>
	<tr>
		<td>Moisture &amp; repair</td>
		<td>&pound;10</td>
	</tr>
	<tr>
		<td>Brazilian nanokeratin blow dry</td>
		<td>By Consultation</td>
	</tr>
</table>
<br>

<h2>Nails</h2>
<table>
	<tr>
		<th class="text-left">Hands &amp; Feet</th>
		<th class="text-left">Express</th>
		<th class="text-left">Classic</th>
		<th class="text-left">Deluxe</th>
	</tr>
	<tr>
		<td>Manicure</td>
		<td>&pound;10</td>
		<td>&pound;15</td>
		<td>&pound;20</td>
	</tr>
	<tr>
		<td>Pedicure</td>
		<td>&pound;15</td>
		<td>&pound;20</td>
		<td>&pound;25</td>
	</tr>
	<tr>
		<td>French varnish</td>
		<td>&pound;3</td>
		<td>&pound;3</td>
		<td>&pound;3</td>
	</tr>
	<tr>
		<th class="text-left">Packages</th>
		<th class="text-left">Express</th>
		<th class="text-left">Classic</th>
		<th class="text-left">Deluxe</th>
	</tr>
	<tr>
		<td>Manicure &amp; Pediure</td>
		<td>&pound;23</td>
		<td>&pound;30</td>
		<td>&pound;39</td>
	</tr>
	<tr>
		<td>French varnish</td>
		<td>&pound;6</td>
		<td>&pound;6</td>
		<td>&pound;6</td>
	</tr>
	<tr>
		<th colspan="2" class="text-left">Gelish / Shellac</th>
		<th class="text-left">Hands</th>
		<th class="text-left">Feet</th>
	</tr>
	<tr>
		<td colspan="2">Removal &amp; Express mani/pedi</td>
		<td>&pound;15</td>
		<td>&pound;20</td>
	</tr>
	<tr>
		<td colspan="2">Removal &amp; New set</td>
		<td>&pound;27</td>
		<td>&pound;29</td>
	</tr>
	<tr>
		<td colspan="2">New set</td>
		<td>&pound;24</td>
		<td>&pound;26</td>
	</tr>
	<tr>
		<th colspan="2" class="text-left">Treatments</th>
		<th class="text-left">Hands</th>
		<th class="text-left">Feet</th>
	</tr>
	<tr>
		<td colspan="2">Hot parafim wax</td>
		<td>&pound;10</td>
		<td>&pound;13</td>
	</tr>
	<tr>
		<th class="text-left">Packages</th>
		<th class="text-left">Threading</th>
		<th class="text-left">Waxing</th>
		<th class="text-left">Tinting</th>
	</tr>
	<tr>
		<td>Eye brows</td>
		<td>&pound;10</td>
		<td>&pound;10</td>
		<td>&pound;10</td>
	</tr>
	<tr>
		<td>Eye brows &amp; lip</td>
		<td>&pound;15</td>
		<td>&pound;15</td>
		<td></td>
	</tr>
	<tr>
		<td>Upper lip or chin</td>
		<td>&pound;10</td>
		<td>&pound;10</td>
		<td></td>
	</tr>
	<tr>
		<td>Upper lip &amp; chin</td>
		<td>&pound;15</td>
		<td>&pound;15</td>
		<td></td>
	</tr>
	<tr>
		<td>Whole face</td>
		<td>&pound;18</td>
		<td>&pound;20</td>
		<td></td>
	</tr>
	<tr>
		<td>Eye lashes</td>
		<td></td>
		<td></td>
		<td>&pound;12</td>
	</tr>
	<tr>
		<td>Eye brows &amp; lashes</td>
		<td></td>
		<td></td>
		<td>&pound;17</td>
	</tr>
	<tr>
		<td>Eye brow tweezer tidy up</td>
		<td colspan="3">&pound;5</td>
	</tr>
</table>
<br>

<h2>Beauty</h2>
<table>
	<tr>
		<th colspan="4" class="text-left">Waxing</th>
	</tr>
	<tr>
		<td>Under Arm</td>
		<td>&pound;8</td>
		<td>Stomach</td>
		<td>&pound;8-&pound;11</td>
	</tr>
	<tr>
		<td>1/2 arm</td>
		<td>&pound;11</td>
		<td>Lower leg</td>
		<td>&pound;14</td>
	</tr>
	<tr>
		<td>Full arm</td>
		<td>&pound;17</td>
		<td>Upper leg</td>
		<td>&pound;17</td>
	</tr>
	<tr>
		<td>Chest</td>
		<td>&pound;22</td>
		<td>Upper leg &amp; bikini</td>
		<td>&pound;22</td>
	</tr>
	<tr>
		<td>Back</td>
		<td>&pound;22</td>
		<td>Upper leg &amp; Brazilian</td>
		<td>&pound;30</td>
	</tr>
	<tr>
		<td>Back &amp; chest</td>
		<td>&pound;32</td>
		<td>Full leg</td>
		<td>&pound;25</td>
	</tr>
	<tr>
		<td>Brazilian &amp; Hollywood</td>
		<td>&pound;20</td>
		<td>Full leg &amp; bikini</td>
		<td>&pound;29</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td>Full leg &amp; Brizilian</td>
		<td>&pound;37</td>
	</tr>	
</table>
<table style="border-top: 0;">
	<tr>
		<th colspan="2" class="text-left">Facial</th>
	</tr>
	<tr>
		<td>Express facial (25 mins)</td>
		<td>&pound;18</td>
	</tr>
	<tr>
		<td>Deep cleanse facial (1 hour)</td>
		<td>&pound;30</td>
	</tr>
	<tr>
		<td>Luxary deep cleanse facial (1 + &#189; hour)</td>
		<td>&pound;40</td>
	</tr>
	<tr>
		<td>Back blemish cleanse</td>
		<td>(1 + &#189; hour)</td>
	</tr>
	<tr></tr>
	<tr>
		<th colspan="2" class="text-left">Massage</th>
	</tr>
	<tr>
		<td>Indian head massage (20 mins)</td>
		<td>&pound;18</td>
	</tr>
	<tr>
		<td>Back, neck, shoulder (30 mins)</td>
		<td>&pound;30</td>
	</tr>
	<tr>
		<td>Deep back massage (30 mins)</td>
		<td>&pound;23</td>
	</tr>
	<tr>
		<td>Deep full body massage (1 hour)</td>
		<td>&pound;45</td>
	</tr>
	<tr>
		<td>Holistic full body massage (1 hour)</td>
		<td>&pound;38</td>
	</tr>
	<tr>
		<td>Full body relaxing massage (1 hour)</td>
		<td>&pound;38</td>
	</tr>
</table>
<br>
<h4 class="pricing-heading text-center">Senior citizen and students 10&#37; off all treatments <br> Please ask at the reception</h4>

<hr>

<h4 class="pricing-heading text-center">~ Also open Sundays ~</h4>

